p {
    margin: 0;
}

.app {
    max-width: 1024px;
    margin: 0 auto;
    padding: 12px;

    h1 {
        text-align: center;
    }

    > h2 {
        text-align: center;
    }

    form {
        text-align: center;
        margin-bottom: 24px;
    }

    .schedule {
        ul {
            margin: 0 auto;
            position: relative;
            list-style: none;
            padding-left: 0;
            max-width: 700px;

            &::before {
                position: absolute;
                content: '';
                width: 1px;
                height: 100%;
                background-color: black;
                left: 2px;

                @media screen and (min-width: 720px) {
                    transform: translateX(-50%);
                    left: 50%;
                }
            }

            li {
                position: relative;
                list-style-type: none;
                overflow: auto;
                margin-bottom: 24px;

                &::before {
                    width: 7px;
                    height: 7px;
                    content: '';
                    border-radius: 100%;
                    background-color: black;
                    top: 50%;
                    transform: translate(0, -50%);
                    position: absolute;

                    @media screen and (min-width: 720px) {
                        position: absolute;
                        transform: translate(-50%, -50%);
                        left: 50%;
                        top: 50%;
                    }
                }

                .time {
                    font-size: 0.9rem;
                    position: absolute;
                    top: 50%;
                    transform: translate(12px, -50%);

                    @media screen and (min-width: 720px) {
                        transform: translate(-50%, -50%);
                        left: calc(50% + 30px);
                    }
                }

                .wrapper {
                    border-radius: 8px;
                    padding: 12px;
                    box-shadow: 0 2px 4px 0 rgba(57,55,56,0.15);
                    width: calc(100% - (24px + 60px));
                    background-color: aliceblue;
                    float: right;

                    @media screen and (min-width: 720px) {
                        margin-left: 0;
                        width: 250px;
                        float: inherit;
                    }

                    .title {

                    }
                }

                &:nth-child(even) {
                    .wrapper {
                        @media screen and (min-width: 720px) {
                            float: right;
                        }
                    }
                }
            }
        }
    }

}


