h1, h2, h3, p {
    margin: 0;
}

div {
    box-sizing: border-box;
}
body {

    background-color: #3d3e3f;
    color: #4d4d4d;
}

.app {
    margin-bottom: 100px;

    main {
        max-width: 1024px;
        margin: -25vh auto;
        width: calc(100% - 24px);
        background-color: white;
        z-index: 1;
        position: relative;
        border-radius: 8px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;

        h1 {
            text-align: center;
            flex: 0 0 100%;
            border-bottom: 1px solid #ccc;
            padding: 36px 0 36px;
        }
    }

    header {
        img {
            width: 100%;
            height: 60vh;
            object-fit: cover;
        }
    }

    h2 {
        color: #a2a2a2;
        margin-bottom: 24px;
        font-size: 0.9rem;
    }


    main > .wrapper {
        border-right: 1px solid #ccc;
        padding-right: 12px;
        padding-top: 24px;
        padding-left: 12px;
        width: 100%;

        @media only screen and (min-width: 600px) {
            flex: 0 0 calc(30%);
        }

        .loaf-chooser {
            line-height: 1.5rem;
        }

        .ingredients ul {
            list-style: none;
            padding-left: 0;

            li {
                margin-bottom: 12px;
            }
        }
    }

    .schedule {
        padding-left: 12px;
        padding-top: 24px;
        border-top: 1px solid #ccc;

        @media only screen and (min-width: 600px) {
            flex: 0 0 70%;
            padding-left: 24px;
            overflow-y: scroll;
            max-height: 500px;
        }

        ul {
            margin: 0 auto;
            position: relative;
            list-style: none;
            padding-left: 0;
            max-width: 700px;

            li {
                margin-bottom: 36px;
                position: relative;

                h3 {
                    margin-bottom: 8px;

                    display: inline-block;
                }

                .optional {
                    border-radius: 8px;
                    background-color: #4d4d4d;
                    color: white;
                    padding: 4px 8px;
                    display: inline-block;
                    margin-left: 24px;
                }

                .description {
                    line-height: 1.5rem;
                }
            }

        }
    }

}


